@page "/"

@inject IJSRuntime ijsRutine;


<PageTitle>Home</PageTitle>

<h1>Hello, @test!</h1>

Welcome to your new app.

<script>

    function jsFuncion()
    {
        alert("Hola Mundo")
    }

</script>

@code
{
    string test = "Vanessa";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {

        }
    }
}